@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');

tt{
  font-size: 15px;
}

.body{
  color: white;
}

.logo{
  width: 60px;
  height: 60px;
  align-self: left;
  position: fixed;
  top: 0px;
  left: -5px;
}

.logo-hover{
  zoom: 110%;
}

.Roboto-font{
  font-family: 'Roboto';

}


.text-center{
  display: flex;
  justify-content: center;
}

.center{
  display: flex;
  align-content: flex-start;

}

.navbar{
  background-color: rgb(78, 89, 140);
  width: 100%;
  height:30px;
  position: fixed;
  top: -2px;
  padding-top: 18px;
  padding-right: 42px;
  padding-bottom: 16px;
  margin-left: 40px;
}

.home{
  text-decoration: none;
  color: white;
  padding: 2px 2px 2px 2px;
  font-size: 15px;
  float: right;
  margin-right: 60px;

}

.home:hover{
  color: rgb(249, 199, 132);
  border-bottom: 2px solid;
  border-color: rgb(249, 199, 132);
  transform: scale(1.1);
  transition: 0.3s;
}

.html{
  text-decoration: none;
  color: white;
  font-size: 15px;
  padding: 2px 2px 2px 2px;
  float: right;
  margin-right: 60px;
}

.html:hover{
  color: rgb(249, 199, 132);
  border-bottom: 2px solid;
  border-color: rgb(249, 199, 132);
  transform: scale(1.1);
  transition: 0.3s;
}
.intro{
  color: black;
}

.home-h{
  font-size: 50px;
  font-weight:lighter;
}

.p-div{
  width: 550px;
  height: auto;
  margin-top: -110px;
  margin-left: 60px;
}

.hero{
  width: 730px;
  height: 380px;
  padding-top: 30px;
  padding-right: 140px;
  margin-top: 15px;
  margin-left: 340px;
}

.tags{
  background-color: rgb(221, 221, 221);
}

.wh-button{
  background-color: rgb(252, 175, 88);
  border-width: 0px;
  width: 123px;
  height: 40px;
  border-radius: 10px;
  margin-top: 25px;
}

.wh-button:hover{
  cursor: pointer;
  background-color: rgb(78, 89, 140);
  color: white;
  transition: 0.5s;
  transform: scale(1.1);
}

.wh-button a{
  text-decoration: none;
  color: black;
}


.sample-table{
  font-size: 30px;
  text-align: left;
  font-weight:normal;
}

.t-description{
  text-align: left;
}

.timetable{
  border-bottom: 2px solid;
  border-bottom-color: rgb(78, 89, 140);
  box-shadow: 0px 0px 15px 5px #DDDDDD;
}



.th-1{
  padding-left: 10px;
  width: 180px;
}
.th-2{
  padding-left: 10px;
  width: 225px;
}
.th-3{
  padding-left: 10px;
  width: 210px;
}
.th-4{
  padding-left: 10px;
  width: 245px;
}
.th-5{
  padding-left: 10px;
  width: 180px;
}

.t-data{
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-left: 0.5px solid;
  border-color: rgb(238, 238, 238);
}

.t-data-l{
  padding-top: 20px;
  padding-bottom: 5px;
  padding-left: 10px;
}

.interval{
  text-align: center;
  color: rgb(78, 89, 140);
}

.tr-2{
  background-color: rgb(238, 238, 238);
}

.tr-4{
  background-color: rgb(238, 238, 238);
}

.tr-3{
  color: rgb(78, 89, 140);
}

.row{
  height: 50px;
}

th{
  background-color: rgb(78, 89, 140);
  color: white;
  height: 45px;
}

.paragraph{
  margin-right: 150px;
  margin-left: 300px;
}

.p-html{
  text-align: left;
}
.p-css{
  text-align: justify;
}

.p-red{
  color: red;
}

.p-js{
}

.js{
  text-align: right;
  width: 62%;
  margin-left: 240px;
}

.form{
  margin: 30px 300px 20px 700px;
}

.form-caption{
  text-align: center;
  width: 50%;
}

#name{
  margin-left: 100px;
  width: 250px;
  height: 30px;
  border: 1px rgb(221, 221, 221) solid;
}

#eMail{
  margin-left: 103px;
  width: 250px;
  height: 30px;
  border: 1px rgb(221, 221, 221) solid;
}

#rd-1{
  margin-left: 100px;
}

#rd-2{
  margin-left: 20px;
}

#year{
  width: 255px;
  height: 30px;
  margin-left: 37px;
}

#ch-1{
  margin-left: 100px;
}

#ch-2{
  margin-left: 50px;
}

#ch-3{
  margin-left: 50px;
}
.submit{
  height: 40px;
  width: 90px;
  padding: 5px 10px 5px 10px;
  background-color: rgb(252, 175, 88);
  border-width: 0px;
  border-radius: 10px;
  margin-left: 180px;
}

.submit:hover{
  background-color: rgb(255, 140, 66);
  transition: 0.5s;
  zoom: 105%;
  transition: 0.9s;
}

.reset{
  height: 40px;
  width: 90px;
  padding: 5px 10px 5px 10px;
  background-color: rgb(238, 238, 238);
  border-width: 0px;
  border-radius: 10px;
  margin-left: 30px;
}

.reset:hover{
  background-color: rgb(221, 221, 221);
  transition: 0.5s;
  zoom: 105%;
  transition: 0.9s;
}
